<div id="convert-create" class="rounded-corners">

  <div id="convert-create-inner">

    <h2><%# h @convert.epoch %></h2>

    <h1 style="color: #999">=</h1>

    <h2><%# h @convert.convert_to_datetime %></h2>

  </div>

  <p>
    <%= link_to 'Convert another', root_path %>
  </p>

</div>
